!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "Vendi.Inc", name: "author"}/
    /%link{href: "../../assets/ico/favicon.ico", rel: "shortcut icon"}/
    %title Vendi
    / Bootstrap core CSS
    /%link{href: "css/bootstrap.min.css", rel: "stylesheet"}/
    / Custom styles for this template
    /%link{href: "css/jumbotron-narrow.css", rel: "stylesheet"}/
    / Just for debugging purposes. Don't actually copy this line!
    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      .jumbotron
        %h1#title Vendi
        %p.lead Hi! We are developing a new product to help individuals make money by selling items online. We are trying to make this experience the best we can, but we need your help. Can you take a couple of minutes and fill out the survey below, so we know what matters to you? We really value your opinion.  Feel free to contact us if you have any additional feedback or questions at VendiTeam@gmail.com
      #typeform.row-fluid
        .col-md-12
          %iframe{frameborder: "0", src: "http://www.typeform.com/to/n3GvfH"}
      .footer
        %p © Vendi 2014
    / /container
    / Bootstrap core JavaScript==================================================
    / Placed at the end of the document so the pages load faster
