=provide(:title, 'Welcome')
.container-fluid
	.row
		.col-lg-8.col-lg-offset-2
			%h1#title Vendi
			%hr.h-line/
			.about-app
				%p 
					%b Consider the following story:  
					Jordan is busy and has several unwanted items to sell, but doesn’t have the time or inclination to do the selling.  Alex makes a living selling online but searches through yard sales and flea markets struggling to find items to sell.  Enter Vendi. Vendi facilitates the sale of Jordan’s stuff through Alex. Alex makes a commission and Jordan’s stuff gets sold at a fair price; everyone wins.
			%hr.h-line/
			.about-app
				%p 
					%b Our Vision:
					We desire a future where there is little friction in the recycling of goods from one individual to another.  To make this a reality we are simplifying the process of selling one’s unwanted items, while creating income for others.  Lets realize this vision together. 
			%hr.h-line
			.call
				%h2 Which of two experiences are you looking for?

				.col-sm-6.text-center
					%p If you are interested in the reselling experience help us determine what matters to you.
					=button_to "Continue", survey_s_path, {:method => "get", class: "btn btn-primary"}
				.col-sm-6.text-center
					%p If you want help selling your items, help us determine what matters to you. 
					=button_to "Continue", survey_o_path, {:method => "get", class: "btn btn-primary"}
			%hr.h-line
			

	