=provide(:title, 'Welcome')
.container-fluid
	.row
		.col-lg-8.col-lg-offset-2
			%h1#title Vendi
			%hr.h-line/
			.about-app
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, labore, similique voluptatibus illo amet optio maiores id? Laboriosam, vero libero ipsum sint facilis nobis porro iste. Quaerat, eaque, beatae, molestias, quae assumenda nobis odio voluptatum itaque iure aut amet at neque quisquam aliquid eum deserunt doloremque officia accusantium deleniti labore.
			%hr.h-line/
			.about-app
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nemo, quo, maiores velit magnam perferendis dolores vitae harum eius ipsam officiis beatae ullam itaque sapiente deserunt quia porro expedita saepe voluptates aperiam? Voluptatem, rem libero rerum eum laboriosam voluptate illo. 
			%hr.h-line
			.call
				%h2 Which of two experiences are you looking for?

				.col-sm-6.text-center
					%p If you are interested in the reselling experience help us determine what matters to you.
					=button_to "Continue", survey_s_path, {:method => "get", class: "btn btn-primary"}
				.col-sm-6.text-center
					%p If you want help selling your items, help us determine what matters to you. 
					=button_to "Continue", survey_o_path, {:method => "get", class: "btn btn-primary"}
			%hr.h-line
			

	