
=provide :title, 'Items'
.container-fluid
	.row
		.col-lg-10.col-lg-offset-1
			.row
				-@items.each do |item|
					.col-lg-3
						#my-carousel.carousel.slide{"data-ride" => "carousel"}
							/ Indicators
							%ol.carousel-indicators
								%li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
								%li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
								%li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
							/ Wrapper for slides
							.carousel-inner
								.item.active
									%img{alt: "...", src:image_path("arturo.png")}/
								.item
									%img{alt: "...", src:image_path("arturo.png")}/
								.item
									%img{alt: "...", src:image_path("arturo.png")}/

						%button.btn.item-btn.text-center{align: "center", "data-placement" => "bottom", "data-toggle" => "popover", type: "button"}
							%h1.item-title= item.title
							#popover_content_wrapper{style: "display: none !important"}
								%h3 Description:
								%p= item.description								
								%h3 Tell us at what price you think you can sell this item after fees?
								%form.form-inline{action: ""}
									.form-group
										%label.sr-only{for: "price"} Price submission.
										- placeholder = (item.price.nil? ? "Price" : item.price)
										%input#price.form-control{placeholder: "Price", type: "text"}
										%input.btn.btn-default{type: "submit"}
				

%script
	$(document).ready(function() {

	$('.carousel').carousel({
	interval: 2000
	});

	$('.item-btn').popover({ 
	html : true, 
	content: function() {
	return $('#popover_content_wrapper').html();
	}
	});

	});