// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-title {
	font-size:1em;
	text-align: center;
}

.item-image {
	width: 140px;
	height: 140px;
	margin: 1em;
}

.item-btn {
	background: transparent !important;
	width:100%;
	white-space: normal;
}


#my-carousel {

}