// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*WElcome Page*/
#title {
	font-size: 5em; 
	text-align: center;
	color: #015965;
	font-family: cursive;
	margin: 0.7em;
}

.call > h2 {
	font-size: 2em; 
	text-align: center;
	color: #015965;
	font-family: cursive;
	margin: 0.7em;
}

.call > p {
	margin-bottom: 2em;
}

.h-line {

}

p {
	font-size: 1.2em;
}

.aboutus {
	
	text-align: center;
}

.aboutus > img {
	width: 140px;
	height: 140px;
	margin: 1em;
}

.aboutus > h1 {
	font-size: 1.8em;
	margin-top: 0px;
	margin-bottom: 5px;
}

.aboutus > h2 {
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 5px;
}

.aboutus > p {
	text-align: left;
	padding-left: 1em;
}

.call > .col-sm-6 {
	padding-left: 0px;
}

.left-border {
	border-style: solid;
	border: 1;
	border-left: thin;
}

.btn-primary {
	background-color: #028799;
	margin: 7px;
}